.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:#ededed !important;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block !important;
	color:#777777 !important;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 6px !important;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff; margin-right:3px;
	cursor:pointer
}.button:hover {
	background-color:#e3e3e3 !important;
}.button:active {
	position:relative;
	top:1px;
}

.questions {float:none; margin-right:10px; width:100%}
.questions ul {padding:0; margin:0; list-style:none !important; display:table; width:100%}
.questions ul li {list-style:none !important; width:15%; display:table-cell; table-layout:fixed}
.questions ul li a{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	border:1px solid #dcdcdc;
	display:block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold; text-align:center;
	padding:4px; margin:3px 0;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.questions ul li.active a{
	position:relative;
	background:#e3e3e3
}

.questions ul li a:hover
{
	background:#666 !important;
	text-shadow:none
}

ul.answers {margin:10px 14px; padding:0px; }
ul.answers li {padding:3px; margin:2px;list-style:none !important}

.q_text {display:block; background:#f1f1f1; padding:5px; margin-top:5px; font-size:12px}

.time_ost {position:absolute; font-size:11px; color:#777; right:10px; top:10px}

